
.landing-page{
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .nopadding {

        padding: 0 !important;
     
        margin: 0 !important;
     
     }

    .icon-custom{
        font-size: 25px;
        color: rgb(255, 255, 255);
    }
    .divider-white {
        width: 90%;
        height: 0.2px;
        margin-right: 20px;
        background-color: white;
    }
    .landing-header {
        max-width: 1080px;
        height: 110px;
        background-color: #c10960; 
        width: 100%;
        padding: 20px 40px;
        display: flex;
        justify-content: space-between;
        align-items: center;
     }
     
     .logo {
         width: 210px;
         margin-right: 30px;
         
        .img-logo{
            max-width: 100%;
            max-height: 100%;
        } 
        .logo-text{
            color: white;
            font-weight: bold;
            font-size: 2vw;
            font-family:'Courier New', Courier, monospace;
        }
        .logo-text-small{
            color: white;
            font-weight: bold;
            font-size: 12px;
            font-family:'Courier New', Courier, monospace;
        }
        
     }
     .row-text-with-icon{
        display: flex;
        justify-content: center;
        align-items: center;
     }
     .text-with-icon{
        font-size: 14px;
        font-weight: 700;
        color: white;
        margin-left: 4px;
     }
     .icon-container{
        border-radius: 8px;
        width: 30px;
        padding: 8px;
        height: 30px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        border: white solid 0.2px;
    }

    .landing-body {
        max-width: 1080px;
        width: 100%;
        justify-content: space-between;
        align-items: center;

        .img-custom{
            width: 100%;
            object-fit: cover;
            height: 300px;
        }
        .thumbnail-item{
            width: 96% !important;
            height: 100px;
            margin-left:8px;
            object-fit: cover;
        }
     }

     #wrap{
        background-color: #ddd;
        padding: 50px 0;
      }
      #slider,#thumbnail_slider{
        width: 300px;
        margin: 0 auto 10px;
      }      

}

